.navbar {
  width: 100vw;
  background-color: #C2C7CC;
  height: 4vh;
  position: fixed;
  bottom: 0;
  border-top: 2px solid white;
}

.clock {
  float: right;
  margin: 2px;
  padding: 2px;
  padding-left: 10px;
  height: 3vh;
  display: flex;
  vertical-align: middle;
}

.clock > p {
  text-align: center;
  margin: auto;
}
