.navbar {
  width: 100vw;
  background-color: #C2C7CC;
  height: 30px;
  position: fixed;
  bottom: 0;
  border-top: 2px solid white;
  padding: 2px;
}

.start-button {
  float: left;
  margin: 2px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  height: 28px;
  display: flex;
  vertical-align: middle;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

.clock {
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 4px;
  height: 24px;
  display: flex;
  vertical-align: middle;
  font-size: 1.2em;
  text-align: center;
}
