.desktop-icons-container {
  display: inline-block;
  margin: 20px;
  top: 0px;
  position: absolute;
  color: white;
}

.desktop-icon {
  margin: 20px;
  width: 76px;
  text-align: center;
}

.icon-image {
  display: block;
  margin: auto;
}

.multiline-label {
  display: inline-block;
}
