body {
  margin: 0;
  padding: 0;
  font-family: 'px_sans_nouveaux', sans-serif;
}

input {
  font-family: 'px_sans_nouveaux', sans-serif;
}

@font-face {
  font-family: 'px_sans_nouveaux';
  src: url('./assets/fonts/px_sans_nouveaux/px_sans_nouveaux.woff2') format('woff2'),
       url('./assets/fonts/px_sans_nouveaux/px_sans_nouveaux.woff') format('woff'),
       url('./assets/fonts/px_sans_nouveaux/px_sans_nouveaux.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: #008281;
  height: 100vh;
  width: 100vw;
}
